#lottleTower {
    display: flex;
}

#imgLottleTower {
    background-image: url('../../assets/lottle.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -600%;
    width: 90%;
    height: 700px;
    padding: 0px;
    margin: 40px 20px 50px 90px;
    border-radius: 20px;
}